{%extends "store_master_template.html"%} 
{%load cart_filters%}
{% load static %} 
{% block head %}
    <title>Cart</title>
{% endblock %} 
{% block body %}
<!-- Adding a nav bar -->
{%include 'navbar.html'%}

    <div class="container">
         <div class="border rounded p-4 m-4">
            <p class="display-4 pl-4 ml-4">Your Cart</p>
            <hr>
            <div class="table-responsive" >
                <table class="table table-primary" style="text-align: center; vertical-align: middle;" >
                    <thead>
                        <tr>
                            <th scope="col">S.no. </th>
                            <th scope="col">Product Image</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Product Price</th>
                            <th scope="col">Product Quantity</th>
                            <th scope="col"></th>
                            <th scope="col">Total Price</th>
                        </tr>
                    </thead>    
                    <tbody>
                        {%for product in cart_products%}
                        <tr class="">
                            <td scope="row">{{forloop.counter}}</td>
                            <td><img style="height: 80px;" class="rounded-circle" src="{{product.product_image.url}}" alt=""></td>                        
                            <td>{{product.product_name}}</td>
                            <td>{{product.product_price | currency }}</td>
                            <td>
                                <!-- Reducing product -->
                                <form action="" method="POST" class="d-inline-block">
                                    {% csrf_token %}
                                    <input hidden type="text" name="action" value="decrease" />
                                    <input hidden type="text" name="product_id" value="{{product.id}}" />
                                    <input type="submit" value="-" class="col-1 btn btn-primary"/>
                                </form>
                                <!-- Quantity of product in cart -->
                                {{product | product_count_in_cart:cart}}
                                <!-- increasing product -->
                                {%if product|product_count_in_cart:cart >= product.product_quantity %}
                                <button data-bs-toggle="tooltip" data-bs-placement="top"  title="only {{product.product_quantity}} available" type="button" class="btn btn-secondary text-light opacity-50">
                                    +
                                </button>
                                {%else%}
                                <form action=" " method="POST" class="d-inline-block">
                                    {% csrf_token %}
                                    <input hidden type="text" name="action" value="increase"/>
                                    <input hidden type="text" name="product_id" value="{{product.id}}"/>
                                    <input type="submit" value="+" class="col-1 btn btn-primary" />
                                </form>                                                          
                                {%endif%}
                            </td>
                                <td><form action="" method="POST">
                                    {% csrf_token %}
                                    <input hidden type="text" name="action" value="remove"/>
                                    <input hidden type="text" name="product_id" value="{{product.id}}"/>
                                    <input type="submit" value="remove" />
                                </form>
                                </td>                              
                                <td>{{product | total_price:cart| currency }}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="6">Total</th>
                            <th>{{cart_products|total_cart_price:cart|currency}}</th>
                        </tr>
                    </tfoot>
                </table>
                <hr>
                
                <div class="m-3 p-3">
                    {%if cart|length > 0%}
                    <a href="/checkout" class="btn btn-outline-info border rounded col-lg-3 float-right">Check out</a>
                    {%endif%}
                    <a href="/" class="btn btn-outline-info border rounded col-lg-3 float-right" >Countinue Shopping</a>
                </div>
            </div> 
         </div>
    </div>
{% endblock %}