{%extends "store_master_template.html"%}
{% load cart_filters %}

{% block head %}
<title>Store!</title>
{% endblock %} 

{% block body %}
<!-- Adding a nav bar -->
{%include 'navbar.html'%}
<!-- Add container to control layout -->
<div class="row">
  <!-- Sidebar Column -->
  <div class="col-lg-2 mx-auto">
    <div class="list-group">
      {%for category in categories%}
      <a
        href="/?category={{category.id}}"
        class="list-group-item list-group-item-action"
        >{{category.name}}</a
      >
      {%endfor%}
      <a href="/" class="list-group-item list-group-item-action"
        >All products</a
      >
    </div>
  </div>

  <!-- Products Column -->
  <div id="products" class="col-lg-10 mx-auto">
    <div class="row">
      {% for product in products %}
      <div class="col-md-4 mb-3" id={{product.id}}>
        <!-- Grid layout for product cards -->
        <div class="card">
          <img class="card-img-top" src="{{ product.product_image.url }}" alt="Product image"/>
          <div class="card-body">
            <h5 class="card-title">{{ product.product_name }}</h5>
            <p class="card-text"><b>{{ product.product_price| currency  }}</b></p>
            
      <!-- logic to choose add to cart button or increment decrement buttton -->
            <div class="card-footer p-0 row no-gutters">
      <!-- logic to check weather a product is in cart or not using template filters -->
              {%if product|is_in_cart:cart%}
              <form action="" method="POST" class="d-inline-block">
                {% csrf_token %}
                <input hidden type="text" name="remove" value="True" />
                <input hidden type="text" name="product_id" value="{{product.id}}" />
                <input type="submit" value="Remove from cart" class="btn btn-primary"/>
              </form>
              {%else%}
              <form action="/#{{product.id}}" method="POST">
                {% csrf_token %}
                <input hidden type="text" name="product_id" value="{{product.id}}" />
                <input type="submit" class="btn btn-primary" value="Add to cart"/>
              </form>
              {%endif%}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- <table>
          {%for x in products%}
          <tr>
            <td>{{x.product_name}}</td>
            <td>{{x.product_price}}</td>
            <td>{{x.product_image}} </td>
            <td>{{x.category_id}}</td>
          </tr>
          {%endfor%}
        </table> -->

{% endblock %}
